*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --text-primary: #444;
  --white: #fcfcfc;
}

html,
body {
  overflow-x: hidden;
  height: 100%;
}

body {
  line-height: 1.8em;
  font-family: "Delius";
  color: var(--text-primary);
  background-color: #ffd7d7;
}

main {
  margin: 0 5vw 20px;
}
main > * {
  margin-top: 20px;
}
main > p {
  font-size: 1.2em;
  margin-top: 5px;
}

a {
  color: inherit;
}

.header {
  z-index: 1;
  position: sticky;
  top: 0;
  padding: 10px 5vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--white);
  border-bottom: 2px solid var(--text-primary);
}

.title {
  display: flex;
  align-items: center;
  font-family: "Sofia";
  cursor: pointer;
  white-space: pre;
}

.pigeon-icon {
  height: 2.2em;
  transition: 0.5s;
}
@media (min-width: 600px) {
  .pigeon-icon {
    height: 3em;
  }
}

.burger-menu {
  display: flex;
  position: relative;
  cursor: pointer;
}

.burger-button {
  height: 38px;
  aspect-ratio: 1;
  padding: 5px;
  background-color: var(--white);
  fill: var(--text-primary);
  transition: 0.3s ease;
}
.burger-button:hover {
  background-color: var(--text-primary);
  fill: var(--white);
}

.burger-icon-outer {
  transition: 0.3s;
}
.burger-icon-outer-hide {
  opacity: 0;
}

.burger-content {
  position: absolute;
  right: calc(-5vw - 195px);
  top: calc(100% + 5px);
  padding: 0;
  background-color: var(--white);
  border: 2px solid var(--text-primary);
  list-style: none;
  transition: 0.5s ease;
  text-align: start;
}
@media (min-width: 600px) {
  .burger-content {
    top: calc(100% + 7.5px);
  }
}
.burger-content-active {
  right: 0;
}
.burger-content > * {
  padding: 8px 20px;
  font-weight: bold;
  white-space: pre;
  transition: 0.1s;
}
.burger-content > *:hover {
  background-color: var(--text-primary);
  color: var(--white);
}
.start-anchor,
.hours-anchor,
.about-anchor,
.contact-anchor,
.menu-anchor {
  scroll-margin-top: 80px;
}
@media (min-width: 600px) {
  .start-anchor,
  .hours-anchor,
  .about-anchor,
  .contact-anchor,
  .menu-anchor {
    scroll-margin-top: 90px;
  }
}

.banner {
  height: 200px;
  object-fit: cover;
  object-position: 0% 87%;
  border-radius: 5px;
}

.opening-hours {
  width: 100%;
  display: inline-grid;
  grid-template-columns: 1fr auto;
  gap: 10px 40px;
  background-color: var(--white);
  border: 2px solid var(--text-primary);
  padding: 20px;
}
.opening-hours > h3 {
  grid-column: 1/3;
}
@media (min-width: 400px) {
  .opening-hours {
    width: auto;
  }
}

.open-menu-button {
  text-decoration: underline;
  cursor: pointer;
  white-space: pre;
}

.menu {
  z-index: 2;
  position: fixed;
  margin: 0;
  inset: 100% 0 -100% 0;
  transition: 1s ease;
  backdrop-filter: blur(3px);
  overflow: auto;
  display: flex;
  justify-content: center;
}
.menu-active {
  inset: 0;
}

.menu-card {
  height: fit-content;
  max-width: 700px;
  width: calc(100% - 10vw);
  margin: 30px 0;
  display: inline-grid;
  grid-template-columns: 1fr auto;
  gap: 10px 20px;
  background-color: var(--white);
  border: 2px solid var(--text-primary);
  padding: 20px;
  font-size: 1.5em;
}
.menu-card > h3 {
  text-decoration: underline;
  align-self: center;
}
.menu-card > h4 {
  margin-top: 15px;
  grid-column: 1/3;
}
.oat-disclaimer {
  grid-column: 1/3;
  font-size: 0.7em;
  color: #555;
}

.close-menu-button {
  height: 1.8em;
  aspect-ratio: 1;
  padding: 8px;
  justify-self: end;
  background-color: var(--white);
  fill: var(--text-primary);
  transition: 0.3s ease;
  cursor: pointer;
}
.close-menu-button:hover {
  background-color: var(--text-primary);
  fill: var(--white);
}

footer {
  margin: 0 5vw;
  padding: 20px 0 25px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px 60px;
  border-top: 2px solid var(--text-primary);
}
.impressum-footer {
  position: sticky;
  top: 100%;
}

.footer-section {
  display: flex;
  flex-direction: column;
}

.margin-bottom {
  margin-bottom: 10px;
}
