*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --text-primary: #444;
}

html,
body {
  overflow-x: hidden;
  height: 100%;
}

body {
  font-family: "helvetica";
  color: var(--text-primary);
  background-color: #fcc;
}

main {
  margin: 0 5vw;
}

.header {
  padding: 10px 5vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-bottom: 2px solid var(--text-primary);
}

.title {
  display: flex;
  font-family: "Sofia";
  cursor: pointer;
}

.pigeon-icon {
  height: 3em;
  padding-right: 3px;
}

.burger-menu {
  display: flex;
  position: relative;
  cursor: pointer;
}

.burger-button {
  height: 38px;
  aspect-ratio: 1;
  padding: 5px;
  background-color: white;
  fill: var(--text-primary);
  transition: 0.3s ease;
}
.burger-button:hover {
  background-color: var(--text-primary);
  fill: white;
}

.burger-icon-outer {
  transition: 0.3s;
}
.burger-icon-outer-hide {
  opacity: 0;
}

.burger-content {
  position: absolute;
  right: calc(-5vw - 135px);
  top: calc(100% + 7.5px);
  padding: 0;
  background-color: white;
  list-style: none;
  border: 2px solid var(--text-primary);
  transition: 0.5s ease;
  text-align: start;
}
.burger-content-active {
  right: 0;
}
.burger-content > * {
  padding: 10px 20px;
  font-weight: bold;
  transition: 0.1s;
}
.burger-content > *:hover {
  background-color: var(--text-primary);
  color: white;
}

.banner {
  height: 100px;
  object-fit: cover;
  object-position: 0% 87%;
  margin-bottom: 10px;
  border-radius: 0 0 10px 10px;
}
