*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --text-primary: #444;
  --white: #fcfcfc;
}

html,
body {
  overflow-x: hidden;
  height: 100%;
}

body {
  font-family: "Delius";
  color: var(--text-primary);
  background-color: #fcc;
}

main {
  margin: 0 5vw 20px;
}
main > * {
  margin-top: 20px;
}

p {
  font-size: 1.2em;
}

.header {
  position: sticky;
  top: 0;
  padding: 10px 5vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--white);
  border-bottom: 2px solid var(--text-primary);
}

.title {
  display: flex;
  align-items: center;
  font-family: "Sofia";
  cursor: pointer;
  text-wrap: nowrap;
}

.pigeon-icon {
  height: 2.2em;
  transition: 0.5s;
}
@media (min-width: 600px) {
  .pigeon-icon {
    height: 3em;
  }
}

.burger-menu {
  display: flex;
  position: relative;
  cursor: pointer;
}

.burger-button {
  height: 38px;
  aspect-ratio: 1;
  padding: 5px;
  background-color: var(--white);
  fill: var(--text-primary);
  transition: 0.3s ease;
}
.burger-button:hover {
  background-color: var(--text-primary);
  fill: var(--white);
}

.burger-icon-outer {
  transition: 0.3s;
}
.burger-icon-outer-hide {
  opacity: 0;
}

.burger-content {
  position: absolute;
  right: calc(-5vw - 135px);
  top: calc(100% + 7.5px);
  padding: 0;
  background-color: var(--white);
  border: 2px solid var(--text-primary);
  list-style: none;
  transition: 0.5s ease;
  text-align: start;
}
.burger-content-active {
  right: 0;
}
.burger-content > * {
  padding: 10px 20px;
  font-weight: bold;
  transition: 0.1s;
}
.burger-content > *:hover {
  background-color: var(--text-primary);
  color: var(--white);
}

.intro-text {
  margin-top: 5px;
}

.banner {
  height: 200px;
  object-fit: cover;
  object-position: 0% 87%;
  border-radius: 5px;
}

.opening-hours {
  display: inline-grid;
  grid-template-columns: 1fr auto;
  gap: 10px 40px;
  background-color: var(--white);
  border: 2px solid var(--text-primary);
  padding: 20px;
}
.opening-hours > h3 {
  grid-column: 1/3;
}
